# Supabase (get from https://supabase.com/dashboard/project/_/settings/api)
NEXT_PUBLIC_SUPABASE_URL=https://gpkvlfzaxtnqzyhxatts.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdwa3ZsZnpheHRucXp5aHhhdHRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzMwNzIsImV4cCI6MjA4OTI0OTA3Mn0.Mgk2aqgP3mHPfuAqJ86esk_NW-4JLTq7VWtjOdUlpRc
