# Сервер (server/)
PORT=3001
NODE_ENV=development

# MySQL 5 (для разработки — локально, для Timeweb — из панели хостинга)
DB_HOST=localhost
DB_PORT=3306
DB_USER=ce856430_air
DB_PASSWORD=Nikita_113
DB_NAME=ce856430_air

# URL клиента для CORS (в проде — домен Timeweb)
CLIENT_URL=https://ce856430.tw1.ru

# Секрет для JWT (в проде задать свой)
JWT_SECRET=6OIJILZyPR2UQwAjsHRxVeloLt9uiaFs6XkB2C6NlYA

# Папка загрузок файлов
UPLOAD_DIR=./uploads
